global:
  resolve_timeout: 5m

route:
  group_by: ["alertname", "severity"]
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 4h
  receiver: default
  routes:
    - match:
        severity: critical
      receiver: critical
      repeat_interval: 1h
    - match:
        severity: warning
      receiver: default
      repeat_interval: 4h

receivers:
  - name: default
    webhook_configs:
      - url: "${ALERTMANAGER_WEBHOOK_URL}"
        send_resolved: true

  - name: critical
    webhook_configs:
      - url: "${ALERTMANAGER_WEBHOOK_URL_CRITICAL}"
        send_resolved: true

inhibit_rules:
  - source_match:
      severity: critical
    target_match:
      severity: warning
    equal: ["alertname", "instance"]
