{{- if .Values.backend.pdb.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "dpp-platform.componentFullname" (dict "context" . "component" "backend") }}
  namespace: {{ include "dpp-platform.namespace" . }}
  labels:
    {{- include "dpp-platform.componentLabels" (dict "context" . "component" "backend") | nindent 4 }}
spec:
  minAvailable: {{ .Values.backend.pdb.minAvailable }}
  selector:
    matchLabels:
      {{- include "dpp-platform.selectorLabels" (dict "context" . "component" "backend") | nindent 6 }}
{{- end }}
